## include another file.
## This command shoul be called at first.
# Include my_ssh_config

## shortcut name
Host dummy
## host ip address
    Hostname 192.168.1.1
## user name
    User hoge
## to avoid timeout
    ServerAliveInterval 60
## use same key at target server A and bastion server B
    ForwardAgent yes
## set key file
    IdentityFile /path/to/id_rsa
## multi ssh
    ProxyCommand ssh {server} -W %h:%p
## enable ssh with X-window
    ForwardX11 yes
## set server as trasted one
    ForwardX11Trusted yes
## add key passphrase to KeyChain
    AddKeysToAgent yes
## enable to use passphrase in keychain on macOS?
    UseKeychain yes
## port forward (connect to local)
    LocalForward 8088 AccessFromServer.com:80
## don't request to use terminal output
    RequestTTY no
## keep connecting?
    TCPKeepAlive yes

